<html>
<head>
	<title>expense list</title>
</head>
<body>
	<h1>AYY LIL MOMMA LEMME WHISPER IN YO EAR</h1>
<form method="POST" action="/save">
	Expense Name: <input type="text" name="name"><br>
	Expense Amount: <input type="number" name="number"><br>
	<input type="submit" value="SUBMIT">
</form>
</body>
</html>